[Database]
# List of MongoDB servers which have the weather data
mongos=localhost:27017,otherhost:27017
# Name of database to use
db=weather
# Name of collection within database to read
collection=readings
[Setup]
# Time zone of report
timezone=Asia/Taipei
[Mail]
# Mail server settings, this settings are good for Gmail
server=smtp.gmail.com
port=587
tls=True
# From address of report email
from=me@gmail.com
password=thisismypassword
# List of recepients, comma separated, no spaces between
to=me@example.com,you@example.com
